@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,900");
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

main {
  min-height: calc(100vh - 3.5rem - 8rem);
  margin-top: 3.5rem;
  display: flex;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

.button {
  background: #fba137;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 10%) 0px 3px 12px 0px;
  color: #131313;
  cursor: pointer;
  font: inherit;
  padding: 0.4rem;
  transition-duration: 0.1s;
  transition-property: background-color, color, border-color, opacity,
    box-shadow;
  transition-timing-function: ease-out;
  outline: none;
  margin-top: 24px;
}

.button:hover,
.button:active {
  background: #fcaf55;
}

.button:focus {
  outline: none;
}

.main-footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  font-family: inherit;
  padding: 16px;
}
